<?xml version="1.0"?>
<launch>
  <!-- One-command bringup for the MID360 3D navigation stack.
       It starts runtime navigation from an existing traversable-area PCD.
       Run map_process separately when regenerating the PCD. -->

  <!-- Runtime mode switches -->
  <arg name="start_localization" default="true" />
  <arg name="start_static_tf" default="false" />
  <arg name="start_map_publisher" default="false" />
  <arg name="start_planner" default="true" />
  <arg name="start_bezier" default="true" />
  <arg name="start_nmpc" default="true" />
  <arg name="start_obstacle_processor" default="true" />
  <arg name="start_rviz" default="true" />
  <arg name="start_go2" default="false" />

  <!-- Common frames and files -->
  <arg name="map_frame" default="map" />
  <arg name="robot_frame" default="base_link" />
  <arg name="lidar_topic" default="/livox/lidar" />
  <arg name="lidar_frame" default="livox_frame" />
  <arg name="pcd_path" default="$(optenv NAV3D_DATA_ROOT /tmp/nav3d_data)/traversable/traversable_areas.pcd" />
  <arg name="static_map_path" default="$(optenv NAV3D_DATA_ROOT /tmp/nav3d_data)/point_cloud/scans.pcd" />

  <!-- MID360 localization args -->
  <arg name="start_driver" default="true" />
  <arg name="fast_lio_rviz" default="false" />
  <arg name="map_to_camera_init_x" default="0" />
  <arg name="map_to_camera_init_y" default="0" />
  <arg name="map_to_camera_init_z" default="0" />
  <arg name="map_to_camera_init_qx" default="-0.030724274" />
  <arg name="map_to_camera_init_qy" default="0.088034341" />
  <arg name="map_to_camera_init_qz" default="0.000000000" />
  <arg name="map_to_camera_init_qw" default="0.995643497" />

  <!-- Planning parameters. These are exposed here because planning_3d.launch hard-codes safe_margin=1.0. -->
  <arg name="safe_margin" default="0.10" />
  <arg name="voxel_leaf" default="0.20" />
  <arg name="robot_height" default="1.0" />
  <arg name="enable_headroom_check" default="false" />
  <arg name="edt_xy_expand" default="1.0" />
  <arg name="edt_z_thickness" default="3" />
  <arg name="step_size" default="0.5" />
  <arg name="max_nodes" default="8000" />
  <arg name="k_neigh" default="30" />
  <arg name="max_slope_deg" default="45" />
  <arg name="use_clearance_penalty" default="true" />
  <arg name="clearance_penalty_weight" default="22750.0" />
  <arg name="clearance_penalty_scale" default="0.3" />

  <!-- Local controller / Go2 args -->
  <arg name="start_in_auto" default="false" />
  <arg name="casadi_lib_path" default="$(optenv CASADI_LIB_PATH /opt/casadi/lib)" />
  <arg name="go2_iface" default="enp86s0" />
  <arg name="go2_peer" default="192.168.123.161" />
  <arg name="go2_domain_id" default="0" />

  <include if="$(arg start_localization)" file="$(find fast_lio)/launch/localization_mid360_nav.launch">
    <arg name="start_driver" value="$(arg start_driver)" />
    <arg name="rviz" value="$(arg fast_lio_rviz)" />
    <arg name="map_to_camera_init_x" value="$(arg map_to_camera_init_x)" />
    <arg name="map_to_camera_init_y" value="$(arg map_to_camera_init_y)" />
    <arg name="map_to_camera_init_z" value="$(arg map_to_camera_init_z)" />
    <arg name="map_to_camera_init_qx" value="$(arg map_to_camera_init_qx)" />
    <arg name="map_to_camera_init_qy" value="$(arg map_to_camera_init_qy)" />
    <arg name="map_to_camera_init_qz" value="$(arg map_to_camera_init_qz)" />
    <arg name="map_to_camera_init_qw" value="$(arg map_to_camera_init_qw)" />
  </include>

  <node if="$(arg start_static_tf)" pkg="tf" type="static_transform_publisher"
        name="static_map_to_base_link"
        args="0 0 0 0 0 0 $(arg map_frame) $(arg robot_frame) 100" />

  <include if="$(arg start_map_publisher)" file="$(find map_publisher)/launch/map_publisher.launch">
    <arg name="map_path" value="$(arg static_map_path)" />
    <arg name="map_frame_id" value="$(arg map_frame)" />
  </include>

  <node if="$(arg start_planner)" pkg="planning_3d" type="planning_3d_PRM_node"
        name="planning_3d_PRM_node" output="screen">
    <param name="pcd_path" value="$(arg pcd_path)" />
    <param name="edt_xy_expand" value="$(arg edt_xy_expand)" />
    <param name="edt_z_thickness" value="$(arg edt_z_thickness)" />
    <param name="robot_height" value="$(arg robot_height)" />
    <param name="enable_headroom_check" value="$(arg enable_headroom_check)" />
    <param name="safe_margin" value="$(arg safe_margin)" />
    <param name="use_soft_penalty" value="false" />
    <param name="use_clearance_penalty" value="$(arg use_clearance_penalty)" />
    <param name="clearance_penalty_weight" value="$(arg clearance_penalty_weight)" />
    <param name="clearance_penalty_scale" value="$(arg clearance_penalty_scale)" />
    <param name="step_size" value="$(arg step_size)" />
    <param name="max_nodes" value="$(arg max_nodes)" />
    <param name="k_neigh" value="$(arg k_neigh)" />
    <param name="max_slope_deg" value="$(arg max_slope_deg)" />
    <param name="voxel_leaf" value="$(arg voxel_leaf)" />
    <param name="map_frame" value="$(arg map_frame)" />
    <param name="robot_frame" value="$(arg robot_frame)" />
    <param name="auto_replan" value="true" />
    <param name="replan_frequency" value="1.0" />
    <param name="obstacle_block_radius" value="0.0" />
    <param name="pos_tolerance" value="0.50" />
    <param name="pos_tolerance_exit" value="2.00" />
    <param name="yaw_tolerance" value="0.14" />
  </node>

  <include if="$(arg start_bezier)" file="$(find bezier_path_optimizer)/launch/bezier_path_optimizer.launch" />

  <include if="$(arg start_obstacle_processor)" file="$(find obstacle_processor)/launch/obstacle_processor.launch">
    <arg name="lidar_topic" value="$(arg lidar_topic)" />
    <arg name="world_map_topic" value="/map" />
    <arg name="lidar_frame_id" value="$(arg lidar_frame)" />
    <arg name="map_frame_id" value="$(arg map_frame)" />
    <arg name="base_frame_id" value="$(arg robot_frame)" />
  </include>

  <include if="$(arg start_nmpc)" file="$(find nmpc_planner)/launch/nmpc_controller.launch">
    <arg name="casadi_lib_path" value="$(arg casadi_lib_path)" />
    <arg name="start_in_auto" value="$(arg start_in_auto)" />
    <arg name="start_obstacle_processor" value="false" />
    <arg name="map_frame" value="$(arg map_frame)" />
    <arg name="robot_frame" value="$(arg robot_frame)" />
  </include>

  <node if="$(arg start_rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find planning_3d)/rviz/default.rviz" />

  <node if="$(arg start_go2)" pkg="nav_bringup" type="go2_base_control_roslaunch.sh"
        name="go2_base_control" output="screen">
    <env name="GO2_IFACE" value="$(arg go2_iface)" />
    <env name="GO2_PEER" value="$(arg go2_peer)" />
    <env name="GO2_DOMAIN_ID" value="$(arg go2_domain_id)" />
  </node>
</launch>
